*{
  box-sizing:border-box ;
}

*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  display:flex;
  overflow-x: hidden;
}


/*#region Header */

/* @media screen and (min-width:960px)
{
  
} */

.main-header{
  width:100%;
  height: 8rem;
  position: fixed;
  display: flex;
  background-color: hsl(270,100,50);
  z-index: 10;
  color :black;
  border:1px solid black;
  flex-direction: column;
}

@media screen and (min-width:960px)
{
  .main-header{
    width:100%;
    height: 7rem;
    position: fixed;
    display: flex;
    background-color: hsl(270,100,50);
    z-index: 10;
    color :black;
    border:1.5px solid pink;
    flex-direction: column;
  }
}

.aviso-importante-header{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 2.2rem;
  background-color: purple;
  color:yellow;
  display:flex;
}

@media screen and (min-width:960px)
{
  .aviso-importante-header{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2rem;
    background-color: purple;
    color:yellow;
    display:flex;
  }
}

.aviso-link{
  text-decoration: none;
  color: yellow;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

@media screen and (min-width:960px)
{
  .aviso-link{
    text-decoration: none;
    color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.container-header{

  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  display:flex;
  width: 100%;
  justify-content: space-around;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  color :black;
}

@media screen and (min-width:960px)
{
  .container-header{
    max-width: 1200px;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    display:flex;
    width: 1200px;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    color :black;
  }
}

.link{
  display:flex;
}

.toogle-container{
  display:flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  height: 70%;
}

@media screen and (min-width:960px)
{
  .toogle-container{
    display:none;
  }
}

.main-menu-toogle{
  margin-left: auto;
  margin-right: auto;
  width: 1.5rem;
  height: 1.2rem;
  background: linear-gradient(black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%);
  cursor: pointer;
  
}

@media screen and (min-width:960px)
{
.main-menu-toogle{
  display:none;
  }
}

.aviso-toogle{
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.container-logo{
  height: 100%;
  background-color: transparent;
  display:flex;
}

@media screen and (min-width:960px)
{
  .container-logo{
    height: 100%;
    background-color: transparent;
    display:flex;
  }
}

.main-logo{
  width: 8rem;
  margin-top: auto;
  margin-bottom: auto;
}

.container-busqueda{
display:none;
}

@media screen and (min-width:960px)
{
  .container-busqueda{
    margin-top: auto;
    margin-bottom: auto;
    display:flex;
  }
}

.banner-busqueda{
  border-radius: 4px;
  height: 2rem;
  width: 20rem;
  border: 1px solid #ddd;
  vertical-align: middle;
  box-shadow: inset 0 6px 9px -7px rgba(0,0,0,.2);
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.icon-busqueda{
  display:flex;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 2.25rem;
  width:2.25rem;
  border-radius: 4px;
}

.container-nav{
  background-color: transparent;
  display:flex;
  position:static;
}

@media screen and (min-width:960px)
{
  .container-nav{
    background-color: transparent;
    display:flex;
    position:static;
  }
}

.main-nav{
  display:flex;
  position:static;
  height: auto;
  width: auto;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width:960px)
{
.main-nav{
  display:flex;
  position:static;
  height: auto;
  width: auto;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
  }
}

.display-menu{
  display:flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-top:1.25rem; */
  }

@media screen and (min-width:960px)
{
  .display-menu{
  display:flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-top:1.25rem; */
  }
}

.display-menu-item{
  margin:auto;
  border:none;
  display:flex;
}

@media screen and (min-width:960px)
{
  .display-menu-item{
    margin:auto;
    border:none;
    display:flex;
  }
}

.link-nav{
  color:black;
  text-decoration: none;
  margin-left: 1rem;
  display:flex;
}

@media screen and (min-width:960px)
{
  .link-nav{
    text-decoration: none;
    display:flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color :black;
  }
}

.logo-usuario{
  width: 1.8rem;
  height: 1.7rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.logo-cart{
  width: 2rem;
  height: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.header-list-categories-container{
display: none;
}

@media screen and (min-width:960px)
{
  .header-list-categories-container{
    width:100%;
    height: 2rem;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
  }
  
}

@media screen and (min-width:960px)
{
  .sub-list-container{
    display:flex;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row;
    background-color: transparent;
    width: 60%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }
  
}

@media screen and (min-width:960px)
{
  .display-menu{
    width:100%;
    height: 100%;
    border:0.5px solid white;
    display:flex;
  }
  
}

@media screen and (min-width:960px)
{
  .display-menu-item{
    position:relative;
    border:0.5px solid yellow;
    width: 8rem;
    height: 100%;
    align-items: center;
    display:flex;
    justify-content: space-between;
  }
  
}

@media screen and (min-width:960px)
{
  .link-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    font-size: 0.85rem;
    white-space: nowrap;
    width:100%;
    height: 100%;
    border: 0.25px solid violet;
    
  }
  
}


@media screen and (min-width:960px)
{
  .display-menu-item:hover > .cuadro-blue {
    display:flex;
    z-index: 11;
    transition: ease-in 1s;
  }
  
}

@media screen and (min-width:960px)
{
  .cuadro-blue:hover + .link-categorias {
    background-color: white;
    text-decoration: underline;
    color:black;
  }
  
}

@media screen and (min-width:960px)
{
  .link-categorias:hover{
    background-color: white;
    text-decoration: underline;
    color:black;
    transition: ease-in 0.4s;
  }
  
}

@media screen and (min-width:960px)
{
  .cuadroblue:hover + .link-categorias{
    background-color: white;
    text-decoration: underline;
    color:black;
  }
  
}


.page-content-home{
  display:none;
}

@media screen and (min-width:960px)
{
  .page-content-home{
    background-color: aqua;
    margin-top: 7rem;
    display:flex;
  }
  
}


.cuadro-blue
{display:none}

@media screen and (min-width:960px)
{
  .cuadro-blue{
    height:25rem;
    width: 80rem;
    background-color: white;
    position: absolute;
    bottom: -25rem;
    margin-left:-15.75rem;
    z-index: 10;
    display: none;
    -webkit-box-shadow: 6px 10px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 10px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 6px 10px 8px 1px rgba(0,0,0,0.5);

    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
    
  }
  
}

@media screen and (min-width:960px)
{

  .categoria-logo{
    display:flex;
    width:35%;
    height: 100%;

  }

  .categoria-logo-img{
    width: 160%;
    height: 85%;
    bottom: 0%;
    margin-bottom: -4%;
    margin-top:auto;
    margin-left: auto;
    margin-right:auto;
    overflow:visible;
    
  }

  .sub-categorias-container{
    /* justify-content: space-around; */
    background-color: white;
    height: 100%;
    width: 65%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow:hidden;
    font-size: 0.55rem;
    font-family: 'Poppins', sans-serif;

  }

  .sub-categoria-televisores{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .sub-categoria-computadoras{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .sub-categoria-fotografia{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-telefonos{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-videojuegos{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-audio{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-pcgaming{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width:960px)
{
  .sub-categoria-link{
    text-decoration: none;
    color:red;
    font-weight: bold;
    white-space: nowrap;
    transition: ease-in-out 0.5s;
    display:flex;
    font-size: 1rem;
  }

  .sub-categoria-link:hover{
    text-decoration: underline;
  }

  .sub-categoria-logo{
    width: 1rem;
    height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
  }
  
  .sub-sub-categoria-link{
    text-decoration:none;
    color:grey;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.175rem;
    white-space: nowrap;
    transition: ease-in-out 0.3s;
    padding-left:2rem;
  }

  .sub-sub-categoria-link:hover{
    color:red;
    font-size: 0.9rem;
  }
}


.mobil-busqueda-container{
  background-color: blue;
  width: 100;
  height: 3rem;
  display:flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width:960px)
{
  .mobil-busqueda-container{
    display:none;
  }
}

.banner-busqueda-2{
  border-radius: 4px;
  height: 2rem;
  width: 20rem;
  border: 1px solid #ddd;
  vertical-align: middle;
  box-shadow: inset 0 6px 9px -7px rgba(0,0,0,.2);
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width:960px)
{
  .banner-busqueda-2{
    display:none;
  }
}

.link-m-logo-busqueda{
  display:flex;
}

.icon-busqueda-2{
  height: 2.1rem;
  width:2.1rem;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
  
}

@media screen and (min-width:960px)
{
  .icon-busqueda-2{
    display:none;
  }
}

/* #endregion */