*{
  box-sizing:border-box ;
}

*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  display:flex;
  overflow-x: hidden;
}


/*#region Header */

/* @media screen and (min-width:960px)
{
  
} */

.main-header{
  width:100%;
  height: 8rem;
  position: fixed;
  display: flex;
  background-color: hsl(270,100,50);
  z-index: 10;
  color :black;
  border:1px solid black;
  flex-direction: column;
}

@media screen and (min-width:960px)
{
  .main-header{
    width:100%;
    height: 7rem;
    position: fixed;
    display: flex;
    background-color: hsl(270,100,50);
    z-index: 10;
    color :black;
    /* border:1.5px solid pink; */
    flex-direction: column;
  }
}

.aviso-importante-header{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 2.2rem;
  background-color: purple;
  color:yellow;
  display:flex;
}

@media screen and (min-width:960px)
{
  .aviso-importante-header{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2rem;
    background-color: purple;
    color:yellow;
    display:flex;
  }
}

.aviso-link{
  text-decoration: none;
  color: yellow;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

@media screen and (min-width:960px)
{
  .aviso-link{
    text-decoration: none;
    color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.container-header{

  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  display:flex;
  width: 100%;
  justify-content: space-around;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  color :black;
}

@media screen and (min-width:960px)
{
  .container-header{
    max-width: 1200px;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    display:flex;
    width: 1200px;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    color :black;
  }
}

.link{
  display:flex;
}

.toogle-container{
  display:flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  height: 70%;
}

@media screen and (min-width:960px)
{
  .toogle-container{
    display:none;
  }
}

.main-menu-toogle{
  margin-left: auto;
  margin-right: auto;
  width: 1.5rem;
  height: 1.2rem;
  background: linear-gradient(black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%);
  cursor: pointer;
  
}

@media screen and (min-width:960px)
{
.main-menu-toogle{
  display:none;
  }
}

.aviso-toogle{
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.container-logo{
  height: 100%;
  background-color: transparent;
  display:flex;
}

@media screen and (min-width:960px)
{
  .container-logo{
    height: 100%;
    background-color: transparent;
    display:flex;
  }
}

.main-logo{
  width: 8rem;
  margin-top: auto;
  margin-bottom: auto;
}

.container-busqueda{
display:none;
}

@media screen and (min-width:960px)
{
  .container-busqueda{
    margin-top: auto;
    margin-bottom: auto;
    display:flex;
  }
}

.banner-busqueda{
  border-radius: 4px;
  height: 2rem;
  width: 20rem;
  border: 1px solid #ddd;
  vertical-align: middle;
  box-shadow: inset 0 6px 9px -7px rgba(0,0,0,.2);
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.icon-busqueda{
  display:flex;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 2.25rem;
  width:2.25rem;
  border-radius: 4px;
}

.container-perfil{
  background-color: transparent;
  display:flex;
  position:static;
}

@media screen and (min-width:960px)
{
  .container-perfil{
    background-color: transparent;
    display:flex;
    position:static;
  }
}

.main-perfil{
  display:flex;
  position:static;
  height: auto;
  width: auto;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;

}

.main-perfil-container{
  display:flex;
  /* position:relative; */
}

@media screen and (min-width:960px)
{
.main-perfil{
  display:flex;
  position:static;
  height: auto;
  width: auto;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor:default;
  }

  .main-perfil-container{
    display:flex;
  }

  .logo-usuario-logueado{
    border-radius: 60%;
    height: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }



  .cerrar-sesion-container{
    display:flex;
    cursor: pointer;
  }

  .logo-cerrar-sesion{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }

  .cerrar-sesion{
    color:red;
    font-weight: bold;
  }
}

.display-menu-perfil{
  display:none;
}

@media screen and (min-width:960px)
{
  .display-menu-perfil{
    margin:auto;
    border:none;
    display:flex;
    /* border:yellow 0.5px solid; */
  }
}

.modal-login{
  display:none;
}

@media screen and (min-width:960px)
{
  .modal-login{
    display:none;
    transform: .25s cubic-bezier(.17,.67,.62,1.6);
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.62, 1.6);
  }
}

.background-modal-login{
  background:black;
  opacity:0.65;
  width: 100vw;
  height: 100vh;
  margin-top: 2.7rem;
  left:-0.1%;
  position:absolute;
  z-index:11;

  animation: fadeIn 0.35s ease-in-out forwards;
}

.box-modal-login{
  z-index:12;
  position:absolute;
  margin-top: 2.3rem;
  left:65.5%;
  width:25rem;
  height: 25rem;
  background-color: white;
  padding:0.5rem 1rem;
  border-radius:16px;
  display:flex;
  flex-direction: column;

  animation: fadeInDown 0.35s ease-in-out forwards;
  font-family: 'Poppins', sans-serif;
}

@keyframes fadeInDown {

  0% {
      opacity: 0;
      /* transform: rotateX(90deg); */
      height: 0rem;
   }

   75% {
    opacity: 1;
    /* transform: rotateX(0deg); */
    height: 33rem;      
 }
   100% {
      opacity: 1;
      /* transform: rotateX(0deg); */
      height: 25rem;      
   }

}

@keyframes fadeIn {

  0% {
      opacity: 0;

   }
   100% {
      opacity: 0.5;   
   }

}

.close-modal-login{
  width:1.5rem;
  height:1.5rem;
  display:flex;
  align-self:flex-end;
  margin-bottom: 0.5rem;
}

.logo-close-modal-login{
  width: 100%;
  height: 100%;
}

.Title-modal-login{
  display:flex;
  align-self: center;
  padding-bottom: 1rem;
  
}

.border-title-modal-login{
  border-bottom: 0.5px solid #dfdfe8;
  width:100%;
  margin-bottom: 1rem;
}

.container-email-model-login{
  /* border:solid 0.5px violet; */
  display:flex;
  height: 2.5rem;
  margin-top: 1rem;
}

.email-model-login{
  width: 75%;
  height: 1.5rem;
  padding: 0.1rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom: auto;

  border: none; 
  border-width: 0; 
  box-shadow: none;

  border-bottom: 1px solid #dfdfe8;
  
}

.container-password-model-login{
  /* border:solid 0.5px violet; */
  display:flex;
  height: 2.5rem;
  margin-top: 1rem;
}

.password-model-login{
  width: 75%;
  height: 1.5rem;
  padding: 0.1rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom: auto;

  border: none; 
  border-width: 0; 
  box-shadow: none;

  border-bottom: 1px solid #dfdfe8;
}

.container-submit-model-login{
  /* border:solid 0.5px violet; */
  display:flex;
  height: 2.5rem;
  margin-top: 1rem;

}

.btnsend-model-login{
  width: 75%;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom: auto;
  background-color: #8fca00;
  border-radius: 8px;
  color:white;
  font-weight: bold;
}

.container-error-model-login{
  display:none;
}

.mensaje-error-login{
  margin-left: auto;
  margin-right: auto;
  color:red;
  font-weight: bold;
}


.modal-info-user{
  display:none;
}

.modal-info-user-m{
  display:none;
  position:absolute;
  width: 12.5rem;
  height: 18rem;
  flex-direction: column;
  z-index:12;
  background-color: pink;
  padding: 1rem 0.5rem;
  margin-top: 5.60rem;
  right: 0;
  font-family: 'Poppins', sans-serif;
}

.container-name-info-user-m{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.name-info-user-m{
  font-size:1.25rem;
  
}

.email-info-user-m{
  
  font-size: 0.65rem;
}

.container-link-info-user-m{
  display:flex;
}

.link-info-user-logo-m{
  width:1rem;
  height: 1rem;
  margin-right: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.link-info-user-m{
  text-decoration: none;
  color:black;
}

@media screen and (min-width:960px)
{
  .modal-info-user-m{
    display:none
  }

  .container-name-info-user-m{
    display:none;
  }
}

@media screen and (min-width:960px)
{
  .modal-info-user{
    display:none;
  }

  .box-modal-info-user{
    z-index:12;
    position:absolute;
    margin-top: 2.8rem;
    margin-left:-5rem;
    width:15rem;
    height: 25rem;
    background-color: white;
    padding:0.5rem 1rem;
    border-radius:16px;
    display:flex;
    flex-direction: column;
  
    animation: fadeInDown 0.35s ease-in-out forwards;
    font-family: 'Poppins', sans-serif;
    }

  .container-name-info-user{
    display:flex;
    flex-direction: column;
  }

  .container-link-info-user{
    display:flex;
  }

  .container-link-info-user:hover{
    background:grey;
  }

  .link-info-user-logo{
    width:1rem;
    height: 1rem;
    margin-right: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  .link-info-user{
    text-decoration: none;
    color:black;
  }
}

.display-menu-perfil-m{
    margin:auto;
    border:none;
    display:flex;
}

.box-modal-login-m{
  z-index:12;
  position:absolute;
  margin-top: -3rem;
  margin-left: -84.5%;
  width:92vw;
  height: 100vh;
  background-color: white;
  padding:1rem 1rem;


  display:none;
  flex-direction: column;
  animation: fadeInDownM 0.35s ease-in-out forwards;
  font-family: 'Poppins', sans-serif;
  
}

@keyframes fadeInDownM {

  0% {
      opacity: 0;
      /* transform: rotateX(90deg); */
      height: 0rem;
   }

   50% {
    opacity: 0.5;
    /* transform: rotateX(0deg); */
    height: 50vh;      
 }
   100% {
      opacity: 1;
      /* transform: rotateX(0deg); */
      height: 100vh;      
   }

}

.container-logo-modal-login-m{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo-modal-login-m{
  width: 100%;
}

.Title-modal-login-m{
  display:flex;
  align-self: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.border-title-modal-login-m{
  border-bottom: 1.5px solid #dfdfe8;
  width:100%;
  margin-bottom: 2rem;
}

.container-registro-modal-login-m{
  display:flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.aviso-registro-modal-login-m{
  margin-left: auto;
  margin-right: auto;
}

.registro-modal-login-m{
  text-decoration: none;
  color:blue;
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:960px)
{
  .display-menu-perfil-m{
    display:none;
  }
}

.link-nav-user{
  display:flex;
}


.link-nav-cart{
  margin:auto;
  border:none;
  display:flex;
}

@media screen and (min-width:960px)
{
  .link-nav-user{
    margin:auto;
    border:none;
    display:flex;
    margin-left: 1.5rem;
  }

  .link-nav-cart{
    margin:auto;
    border:none;
    display:flex;
    margin-left: 1.5rem;
  }
}

.link-nav-user-m{
  display:flex;
}

.logo-usuario-logueado{
  border-radius: 60%;
  height: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-right: 1rem;
}

@media screen and (min-width:960px)
{
  .link-nav-user-m{
    display:none;
  }
}

@media screen and (min-width:960px)
{
  .display-menu-item{
    margin:auto;
    border:none;
    display:flex;
  }
}

.link-nav{
  color:black;
  text-decoration: none;
  margin-left: 1rem;
  display:flex;
}

@media screen and (min-width:960px)
{
  .link-nav{
    text-decoration: none;
    display:flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color :black;
  }
}

.logo-usuario{
  width: 1.8rem;
  height: 1.7rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.logo-cart{
  width: 2rem;
  height: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.info-acceso{
  font-size: 0.85rem;
  color:white;
  display:flex;
  align-self: flex-end;
  font-family: 'Poppins', sans-serif;
}

.header-list-categories-container{
display: none;
}

@media screen and (min-width:960px)
{
  .header-list-categories-container{
    width:100%;
    height: 2rem;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
  }
  
}

@media screen and (min-width:960px)
{
  .sub-list-container{
    display:flex;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: row;
    background-color: transparent;
    width: 60%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }
  
}

@media screen and (min-width:960px)
{
  .display-menu{
    width:100%;
    height: 100%;
    border:0.5px solid white;
    display:flex;
  }
  
}

@media screen and (min-width:960px)
{
  .display-menu-item{
    position:relative;
    border:0.5px solid yellow;
    width: 8rem;
    height: 100%;
    align-items: center;
    display:flex;
    justify-content: space-between;
  }
  
}

@media screen and (min-width:960px)
{
  .link-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    font-size: 0.85rem;
    white-space: nowrap;
    width:100%;
    height: 100%;
    border: 0.25px solid violet;
    font-family: 'Poppins', sans-serif;
  }
  
}


@media screen and (min-width:960px)
{
  .display-menu-item:hover > .cuadro-blue {
    display:flex;
    z-index: 11;
    transition: ease-in 1s;
  }
  
}

@media screen and (min-width:960px)
{
  .cuadro-blue:hover + .link-categorias {
    background-color: white;
    text-decoration: underline;
    color:black;
  }
  
}

@media screen and (min-width:960px)
{
  .link-categorias:hover{
    background-color: white;
    text-decoration: underline;
    color:black;
    transition: ease-in 0.4s;
  }
  
}

@media screen and (min-width:960px)
{
  .cuadroblue:hover + .link-categorias{
    background-color: white;
    text-decoration: underline;
    color:black;
  }
  
}





.cuadro-blue
{display:none}

@media screen and (min-width:960px)
{
  .cuadro-blue{
    height:25rem;
    width: 80rem;
    background-color: white;
    position: absolute;
    bottom: -25rem;
    left:-15.75rem;
    z-index: 10;
    display: none;
    -webkit-box-shadow: 6px 10px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 10px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 6px 10px 8px 1px rgba(0,0,0,0.5);

    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    
  }
  
}

@media screen and (min-width:960px)
{

  .categoria-logo{
    display:flex;
    width:35%;
    height: 100%;
  }

  .categoria-logo-img{
    width: 100%;
    height: 85%;
    bottom: 0%;
    margin-bottom: -4%;
    margin-top:auto;
    margin-left: auto;
    margin-right:auto;
    
  }

  .categoria-muebles-logo-img{
    width: 100%;
    height: 60%;
    bottom: 0%;
    margin-bottom: -4%;
    margin-top:auto;
    margin-left: auto;
    margin-right:auto;
  }

  .sub-categorias-container{
    /* justify-content: space-around; */
    background-color: white;
    height: 100%;
    width: 65%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow:hidden;
    font-size: 0.55rem;
    font-family: 'Poppins', sans-serif;

  }

  .sub-categoria-televisores{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .sub-categoria-computadoras{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .sub-categoria-fotografia{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-telefonos{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-videojuegos{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-audio{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-pcgaming{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width:960px)
{
  .sub-categoria-muebles{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-muebles-infantiles{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-terrazas{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-refrigeracion{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-climatizacion{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-lavado{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sub-categoria-cuidado-personal{
    display:flex;
    flex-direction: column;
    height: min-content;
    width: 19%;
    padding: 1rem;
    padding-top:0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width:960px)
{
  .sub-categoria-link{
    text-decoration: none;
    color:red;
    font-weight: bold;
    white-space: nowrap;
    transition: ease-in-out 0.5s;
    display:flex;
    font-size: 1rem;
  }

  .sub-categoria-link:hover{
    text-decoration: underline;
  }

  .sub-categoria-logo{
    width: 1rem;
    height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
  }
  
  .sub-sub-categoria-link{
    text-decoration:none;
    color:grey;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.175rem;
    white-space: nowrap;
    transition: ease-in-out 0.3s;
    padding-left:2rem;
  }

  .sub-sub-categoria-link:hover{
    color:red;
    font-size: 0.9rem;
  }
}


.mobil-busqueda-container{
  background-color: blue;
  width: 100;
  height: 3rem;
  display:flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width:960px)
{
  .mobil-busqueda-container{
    display:none;
  }
}

.banner-busqueda-2{
  border-radius: 4px;
  height: 2rem;
  width: 20rem;
  border: 1px solid #ddd;
  vertical-align: middle;
  box-shadow: inset 0 6px 9px -7px rgba(0,0,0,.2);
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width:960px)
{
  .banner-busqueda-2{
    display:none;
  }
}

.link-m-logo-busqueda{
  display:flex;
}

.icon-busqueda-2{
  height: 2.1rem;
  width:2.1rem;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
  
}

@media screen and (min-width:960px)
{
  .icon-busqueda-2{
    display:none;
  }
}

/* #endregion */


/*#region Home */
.page-content-home{
  display:none;
}

@media screen and (min-width:960px)
{
  .page-content-home{
    background-color: aqua;
    margin-top: 7rem;
    display:flex;
    width:100vw;
    height: 100vh;
  }
  
}

/* #endregion */